<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjKi6GzaQkrPyXfLf9aLWzSX6T14pfFeg</string>
	<key>GCM_SENDER_ID</key>
	<string>732512711212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlavours-coffee</string>
	<key>PROJECT_ID</key>
	<string>flutterflavorcoffee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflavorcoffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732512711212:ios:5a1e5208d03432c7bf9789</string>
</dict>
</plist>